{% include('header.html') %} <h1>cennik</h1>



<table>
    <tr>
        <th>
            <label for="currency">Currency:</label>
            <select id="currency" name="currency">
            {%  for currency in currencies %}
                <option value="{{ currency }}"> {{ currency }}</option>
            {%  endfor  %}
            </select>
        </th>

        <th>
            <label for="date_from">Date from</label>
            <input type="date" id="date_from" name="date_from" max="{{ today }}">
        </th>
        <th>
            <label for="date_to">Date to</label>
            <input type="date" id="date_to" name="date_to" max="{{ today }}">
        </th>
        <th>
            <button type="button" onclick="submit()">Create chart</button>
        </th>
    </tr>
</table>

<img src="data:image/png;base64, {{abc}}" alt=""/>

<table border="1">
    <thead>
    <tr>
        <th>Date</th>
        <th>Price</th>
    </tr>
    </thead>
    <tbody>
        {% for item in xyz %}
        <tr>
            <th>{{ item.date }}</th>
            <th>{{ item.value }}</th>
        </tr>
        {% endfor %}
    </tbody>
</table>
<script>
    function submit() {
        let currency = document.getElementById("currency").value;
        let date_from = document.getElementById("date_from").value;
        let date_to = document.getElementById("date_to").value;
        let url = `/rate/${currency}/${date_from}/${date_to}`;
        window.location.href = url;
    }
</script>
{% include('footer.html') %}
